.map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  height: 500px;
  width: 500px;
  position: sticky;
}

.map-page-wrapper {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 100vh;
}

.place-info-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin: 0.5rem 0;
  background: rgba(var(--bs-light-rgb), 0.05)
}

.place-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 15px;
  white-space: nowrap;
}

.place-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 100%;
}

.place-image {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
